/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplica box-sizing a todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'MangoGrotesque';
    src: url('../fonts/MangoGrotesque-Medium.woff2') format('woff2'),
         url('../fonts/MangoGrotesque-Medium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #F9F9F9;
    color: #383838;
    line-height: 1.6;
}

/* ------------------------------------------------------------------------------------ */
/* TEXTO */
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    max-width: 600px;
    }

h1, h2 {
      font-family: 'MangoGrotesque';
      font-weight: 500;
      margin-bottom: 8px;
      line-height: 100%;
  }
  
h1 {
    font-size: 100px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
    margin-bottom: 0.5rem;
}

h4 {
  font-size:18px;
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  padding: 4px;
}

h5 {
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
  }
