/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplica box-sizing a todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'MangoGrotesque';
    src: url('../fonts/MangoGrotesque-Medium.woff2') format('woff2'),
         url('../fonts/MangoGrotesque-Medium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #F9F9F9;
    color: #383838;
    line-height: 1.6;
}


footer {

    background: white;
}

/* ------------------------------------------------------------------------------------ */
/* TEXTO */
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    }

h1, h2, h3, h4, h5, h6 {
      font-family: 'MangoGrotesque';
      font-weight: 500;
      line-height: 100%;
  }
  
h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 70px;
    margin-bottom: 0.5rem;
}

h4 {
  font-size:66px;

}

h5 {
    font-size:46px;
  }
  
h6 {
    font-size:34px;
  }