/* Estilo do botão */
p a {
    color: #0052cc !important;
    text-decoration: underline !important;
  
  }
  .link-projetos {
    text-align: center !important;
    padding: 40px 80px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
  }
  
  button {
      background-color: #FFFFFF; 
      border: 2px solid #383838;
      border-radius: 6px;
      border-style: solid; 
      color: #383838; 
      font-family: 'Montserrat', sans-serif; 
      font-weight: bold; 
      font-size: 16px; 
      padding: 10px 24px; 
      cursor: pointer;
      transition: box-shadow 0.3s ease; /* Animação para a sombra */
    }
    
    button:hover {
      box-shadow: 4px 4px rgba(56, 56, 56, 1);
    }
  
  button a {
    color: inherit; 
    text-decoration: none;
    display: block; 
    width: 100%; 
    height: 100%; 
  }
  
  button a:link,
  button a:visited,
  button a:hover,
  button a:active {
    color: inherit; /* Mantém a cor do link herdada do botão */
    text-decoration: none; /* Remove sublinhado em todas as variantes */
  }
  
  /* Estilo específico para o botão da página de projetos */
  .project-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px; /* Borda arredondada para o botão */
  }
  
  .project-button:hover {
    box-shadow: 4px 4px rgba(56, 56, 56, 1);
  }
  
  /* Ícone de seta dentro do botão */
  .project-button .arrow-icon {
    width: 24px;
    height: 24px;
    background-color: #383838; /* Fundo do ícone de seta */
    border-radius: 50%;
    padding: 8px; /* Espaço interno ao redor do ícone */
    margin-left: 12px;
  }
  
  