
/* ------------------------------------------------------------------------------------ */
/* HEADER */
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
  }

/* LOGO */
  .logo a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
  .logo {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 600px) {
    .logo {
      width: 100px;
    }}
  @media (min-width: 601px) and (max-width: 1024px) {
    .logo {
      width: 100px; 
    }}
  
  @media (min-width: 1025px) {
    .logo {
      width: 100px;
    }}
  

  /* MENU */
  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; 
  }

  nav ul li {
    display: inline-block;
  }

  nav ul a {
    position: relative;
    text-decoration: none;  
    color: #383838;
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif; 
    transition: color 0.3s ease;
  }
  
  nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px;
    background-color: #383838; 
    transition: width 0.3s ease-in-out; 
  }
  
  nav ul a:hover::after {
    width: 100%;
  }
  
  
  .hamburger {
    display: none; /* Oculta o ícone de hambúrguer por padrão */
    cursor: pointer;
    font-size: 40px;
    color: #000;
  }
  
  


  @media (max-width: 768px) {
    header {
      padding: 20px 40px 0px 40px;
    }
  
    nav ul {
      display: none; /* Esconde o menu em telas menores por padrão */
      flex-direction: column;
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: 100%; 
      background-color: #f9f9f9;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
      z-index: 10; /* Garante que o menu fique acima de outros elementos */
    }
  
    nav ul.active {
      display: flex; /* Exibe o menu ao clicar no menu hambúrguer */
    }
  
    .hamburger {
      display: block; /* Mostra o ícone de hambúrguer em telas pequenas */
    }
  
  }
  @media (max-width: 768px) {
    header {
      padding: 20px 40px 0px 40px;
    }
  
    nav ul {
      flex-direction: column;
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: 100%;
      background-color: #f9f9f9;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;
    }
  
    nav ul.active {
      display: flex;
    }
  }

  /* ------------------------------------------------------------------------------------ */
/* FOOTER */

/* ------------------------------------------------------------------------------------ */
/* Estilo do rodapé */

.footer {
  color: #383838;
  padding: 40px 100px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
}

.footer-column {
  flex: 1; 
  margin: 0;
}

.footer-column:first-child {
  flex: 1;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .footer-content {
    margin-top: 40px !important;
    flex-direction: column; /* Empilha as colunas verticalmente */
    align-items: stretch; /* Faz as colunas ocuparem toda a largura */
  }

  .footer-column {
    width: 100%; /* Cada coluna ocupa a largura total */
  }
}


.about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-socials {
  display: flex;
  align-items: center;
  gap: 0;
  line-height: normal;
}

.footer-note {
  color: #666;
  margin: 0 auto 0;
}

.footer-note {
  font-size: 14px !important;  
  color: #666 !important;
  max-width: 300px;
  line-height: 1.5 !important;  
  overflow-wrap: break-word;
  margin: 10px 0 0 0 !important;  
  padding: 0 !important; 
}
 
.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: #383838;
  text-decoration: none;  
  line-height: 2.4;
}

.footer-column ul li a:hover {
  font-weight: 800;

}

.social-icons {
  display: flex;
  padding-left: 8px;
  gap: 16px; /* Espaço entre os ícones */
  margin-bottom: 10px; /* Espaço entre os ícones e a footer-note */
}

.social-icons img {
  width: 36px;
  height: 36px;
}

.perfil-icons {
  display: flex;
  justify-content: left;
  gap: 24px;
  margin-top: 30px;
}

.perfil-icons img {
  width: 46px;
  height: 46px;
}
