/* Container */
.container {
  width: 90%; /* Para telas menores, o conteúdo ocupa 90% da largura */
  max-width: 1200px; /* Limita a largura máxima em telas maiores */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}
  
  .competitors {
      display: flex;
      justify-content: space-between; /* Separa os itens */
      gap: 20px; /* Espaço entre os dois blocos */
  }
  
  .competitor {
      width: 48%; /* Para garantir que cada bloco ocupe metade da largura */
  }
  
