/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplica box-sizing a todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'MangoGrotesque';
    src: url('fonts/MangoGrotesque-Medium.woff2') format('woff2'),
         url('fonts/MangoGrotesque-Medium.woff') format('woff');
}

body {
    background-color: #F9F9F9;
    color: #383838;
    line-height: 1.6;
}

/* ------------------------------------------------------------------------------------ */
/* TEXTO */
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    max-width: 600px;
    }

h1, h2 {
      font-family: 'MangoGrotesque';
      font-weight: 500;
      margin-bottom: 8px;
      line-height: 100%;
  }
  
h1 {
    font-size: 100px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
}

h4 {
  font-size:18px;
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
}

/* ------------------------------------------------------------------------------------ */
/* Estilo do botão */
p a {
  color: #0052cc !important;
  text-decoration: underline !important;

}



button {
    background-color: #FFFFFF; 
    border: 2px solid #383838;
    border-radius: 6px;
    border-style: solid; 
    color: #383838; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    font-size: 16px; 
    padding: 10px 24px; 
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Animação para a sombra */
  }
  
  button:hover {
    box-shadow: 4px 4px rgba(56, 56, 56, 1); /* Sombra no hover */
  }

button a {
  color: inherit; /* Herdar a cor do botão (garante que não use a cor padrão do link) */
  text-decoration: none; /* Remove sublinhado */
  display: block; /* Garante que o link ocupe o espaço do botão */
  width: 100%; /* O link ocupa toda a largura do botão */
  height: 100%; /* O link ocupa toda a altura do botão */
}

button a:link,
button a:visited,
button a:hover,
button a:active {
  color: inherit; /* Mantém a cor do link herdada do botão */
  text-decoration: none; /* Remove sublinhado em todas as variantes */
}

/* Estilo específico para o botão da página de projetos */
.project-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 30px; /* Borda arredondada para o botão */
}

.project-button:hover {
  box-shadow: 4px 4px rgba(56, 56, 56, 1);
}

/* Ícone de seta dentro do botão */
.project-button .arrow-icon {
  width: 24px;
  height: 24px;
  background-color: #383838; /* Fundo do ícone de seta */
  border-radius: 50%;
  padding: 8px; /* Espaço interno ao redor do ícone */
  margin-left: 12px;
}



/* Container */
.container {
  width: 90%; /* Para telas menores, o conteúdo ocupa 90% da largura */
  max-width: 1200px; /* Limita a largura máxima em telas maiores */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}


/* ------------------------------------------------------------------------------------ */
/* HEADER */
header {
  position: relative; /* Define o header como referência para o posicionamento absoluto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo {
  font-family: 'MangoGrotesque', sans-serif;
  font-size: 60px;
  font-weight: 200;
  color: #383838;
}

.logo a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}


/* ------------------------------------------------------------------------------------ */
/* MENU */

nav ul {
  display: flex; /* Exibe os itens do menu lado a lado */
  list-style: none; /* Remove as bolinhas */
  padding: 0;
  margin: 0;
  gap: 20px; 
}

nav ul li {
  display: inline-block;
}

nav ul a {
  position: relative;
  text-decoration: none;  
  color: #383838;
  padding: 10px 20px; 
  font-size: 16px; 
  font-family: 'Montserrat', sans-serif; 
  transition: color 0.3s ease;
}

nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Começa com largura zero */
  height: 2px;
  background-color: #383838; /* Cor da linha */
  transition: width 0.3s ease-in-out; /* Animação da largura */
}

nav ul a:hover::after {
  width: 100%; /* Expande a linha para a largura total do link */
}


.hamburger {
  display: none; /* Oculta o ícone de hambúrguer por padrão */
  cursor: pointer;
  font-size: 40px; /* Ajusta o tamanho do ícone do hambúrguer */
  color: #000;
}

@media (max-width: 768px) {
  header {
    padding: 20px 40px 0px 40px;
  }

  nav ul {
    display: none; /* Esconde o menu em telas menores por padrão */
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px); /* Posiciona o menu logo abaixo do header */
    right: 0;
    width: 100%; /* O menu ocupa toda a largura da tela */
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 10; /* Garante que o menu fique acima de outros elementos */
  }

  nav ul.active {
    display: flex; /* Exibe o menu ao clicar no menu hambúrguer */
  }

  .hamburger {
    display: block; /* Mostra o ícone de hambúrguer em telas pequenas */
  }
  
  
}

/* ------------------------------------------------------------------------------------ */
/* HERO SECTION */
.hero-section {
    text-align: center;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hero-section h1 {
  display: block;
  text-align: center;
  opacity: 0; /* Oculto no início */
  transform: translateY(50px); /* Começa deslocado para baixo */
  animation: slideUp 1s ease-out forwards; /* Aplica a animação */
  margin: 0 auto; 
}

.hero-section p {
  opacity: 0; /* Oculto no início */
  animation: fadeIn 1s ease-out forwards; /* Aplica a animação */
  animation-delay: 0.5s; 
}

.hero-section button {
  opacity: 0;
  transform: translateY(40px); /* Começa deslocado para baixo */
  animation: slideUp 1s ease-out forwards;
  animation-delay: 1s; /* Adiciona atraso para o botão aparecer depois do parágrafo */
}
@media (max-width: 767px) {
  .hero-section {
   padding: 0px 24px;
   flex-direction: column; /* Alinha os itens um em cima do outro */
    text-align: center; 
    padding: 0;
  }
  .hero-section h1 {
      font-size: 72px !important;
  }

  }


@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Posição inicial (abaixo) */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posição final (no lugar) */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------------------------------------------------------------------------ */
/* PROJETO EM DESTAQUE */

.project-highlight {
  display: flex; /* Layout flexível para alinhar horizontalmente */
  justify-content: space-between; /* Distribui os itens */
  align-items: center; /* Alinha ao centro verticalmente */
  gap: 40px; /* Espaçamento entre texto e imagem */
  padding: 60px 0; /* Espaçamento interno */
  opacity: 0; /* Oculto no início */
  transform: translateY(50px); /* Começa deslocado para baixo */
  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 1.2s; /* Define o atraso (ajuste conforme necessário) */
}

.project-highlight-text {
  flex: 1;
}

.project-highlight-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-highlight-img img {
  max-width: 100%; /* Ajusta para responsivo */
  height: auto; /* Mantém a proporção */
  border-radius: 8px;
}

@media (max-width: 767px) {
  .project-highlight {
    flex-direction: column; /* Alinha os itens um em cima do outro */
    text-align: center; 
    padding: 0;
  }

  .project-highlight-img {
    order: 1; /* Coloca a imagem primeiro */
    margin-bottom: 20px;
  }

  .project-highlight-text {
    order: 2; /* Coloca o texto depois da imagem */
  }

  .project-highlight-text a {
    margin-top: 20px; /* Espaçamento entre o texto e o botão */
  }

  .project-highlight-text button {
    width: auto; /* Permite que o botão ajuste sua largura automaticamente */
  }
}

/* ------------------------------------------------------------------------------------ */
/* Seção de Projetos */
.projects-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 60px 0;
  flex-wrap: wrap;
  opacity: 0; /* Oculto no início */
  transform: translateY(50px); /* Começa deslocado para baixo */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.projects-section.animate {
  opacity: 1;
  transform: translateY(0); /* Posição final */
}

.project-button-container {
  width: 100%; /* O botão ocupa toda a largura da seção */
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
}

.project-card {
  display: block;
  flex: 1 1 calc(33.333% - 20px); /* 3 cards por linha */
  max-width: calc(33.333% - 20px);
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFFFFF;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px; /* Espaçamento entre as linhas de cards */
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.project-card:link,
.project-card:visited,
.project-card:hover,
.project-card:active {
  color: inherit;
  text-decoration: none;
}

/* Truncamento de texto para cards */
.truncated-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Limita para 2 linhas */
  line-clamp: 2; /* Para navegadores compatíveis */
}

/* Layout responsivo */
@media (max-width: 1024px) {
  .project-card {
    flex: 1 1 50%; /* Em telas médias, 2 cards por linha */
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .projects-section {
    display: block; /* Empilha os cards em telas menores */
    gap: 20px;
  }

  .project-card {
    flex: 1 1 100%; /* Em telas pequenas, 1 card por linha */
    max-width: 100%;
    margin: 0 auto 20px; /* Margem inferior para espaçamento entre os cards */
  }
}

/* Estilos de Imagem e Conteúdo do Card */
.project-card .imagem {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.project-card .imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-bottom: 2px solid #E0E0E0;
}


.project-card h3 {
  margin: 10px 0; /* Margem superior e inferior */
  line-height: 1.3; /* Ajuste da altura da linha */
  margin-bottom: 16px;
}
  

.project-card .tags {
  pointer-events: none;
}

.conteudo {
  padding: 20px;
}

.tags {
  margin-bottom: 16px;
}

.tag {
  display: inline-block;
  background-color: #383838;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 16px;
  margin-bottom: 8px;
}



/* ------------------------------------------------------------------------------------ */
/* CONTATO */
.contact-section {
  text-align: center;
  padding: 80px 0;
  opacity: 0; /* Oculto no início */
  transform: translateY(50px); /* Começa deslocado para baixo */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.contact-section.animate {
  opacity: 1;
  transform: translateY(0); /* Posição final */
}

.contact-section h2 {
  margin-bottom: 10px;
  color: #333; /* Ajuste a cor para melhor contraste */
}

.contact-section p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center !important;
  color: #666;
  max-width: 600px; /* Limita a largura para centralização */
  margin: 0 auto 20px; /* Centraliza e adiciona espaçamento inferior */
}


.contact-section form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left; /* Alinha o conteúdo do formulário à esquerda */
  display: flex; /* Flexbox para centralizar o botão */
  flex-direction: column; /* Coloca os elementos em uma coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
}

.contact-section label {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333; /* Ajuste da cor do texto da label */
  margin-bottom: 5px;
}

.contact-section input, .contact-section textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #BCBBBB;
  border-radius: 5px;
  font-size: 16px;
}

.contact-section button {
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

}

.contact-section button:hover {
  background-color: #555;
}

.message-box {
  width: 600px; /* Define a largura fixa */
  max-width: 90%; /* Garante que a largura se ajuste em telas menores */
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 16px;
  margin: 20px auto; /* Centraliza horizontalmente */
  text-align: center;
  font-size: 16px;
}


.success-message {
  color: #333;
}

.error-message {
  color: #a6231e; /* Cor de erro (vermelha) */
}



/* Responsividade */
@media (max-width: 767px) {
  .contact-section {
      padding: 0px 24px;
  }
  .contact-section h2 {
      font-size: 72px;
  }
}

/* Padrão para as seções, visíveis até o JS carregar */
.projects-section, .contact-section {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

body.js-enabled .projects-section,
body.js-enabled .contact-section {
  opacity: 0;
  transform: translateY(50px);
}

.projects-section.animate, .contact-section.animate {
  opacity: 1;
  transform: translateY(0);
}



/* ------------------------------------------------------------------------------------ */
/* ------------------------ Estilo da página sobre ------------------------ */

.perfil-section {
  display: flex; /* Cria um layout em colunas */
  align-items: center; /* Alinha os itens ao topo */
  justify-content: space-between; /* Distribui os itens */
  gap: 40px; /* Espaçamento entre as colunas */
  padding: 60px 20px;
  margin: 0 auto; /* Centraliza a seção */
  max-width: 1200px; /* Limita a largura máxima da seção */
  color: 383838;
  text-align: left;
  padding: 50px 100px;

  }
  
  .perfil-section h1 {
    opacity: 0; /* Oculto no início */
    transform: translateY(50px); /* Começa deslocado para baixo */
    animation: slideUp 1s ease-out forwards; /* Aplica a animação */
  }

  .perfil-section p {
    opacity: 0; /* Oculto no início */
    transform: translateY(50px); /* Começa deslocado para baixo */
    animation: slideUp 1s ease-out forwards; /* Aplica a animação */
  }

  /* Classe que ativa a animação */
  .perfil-section.animate {
    opacity: 1;
    transform: translateY(0); /* Posição final */
  }

.perfil-section-foto {
  display: flex;
  flex-direction: column; /* Organiza <h1> e a imagem na vertical */
  align-items: center;
}

.perfil-section-foto img {
  height: 300px; /* Define uma altura fixa */
  width: auto; /* Mantém a largura proporcional à altura */
  border-radius: 50%; /* Faz a imagem ficar circular */
  object-fit: cover; /* Corta a imagem para se ajustar ao container */
    opacity: 0; /* Oculto no início */
    animation: fadeIn 1s ease-out forwards; /* Aplica a animação */
    animation-delay: 0.5s; 
  }

@media (max-width: 767px) {
  .perfil-section {
    flex-direction: column; /* Muda a direção dos cards para empilhar */
    gap: 20px; /* Reduz o espaçamento entre os cards */
    padding: 0px 40px; 
  }
  .perfil-section h1 {
    font-size: 72px;
    padding-top: 24px;
  }
  .perfil-section p {
    padding-bottom: 24px;
  }
}

/* ------------------------------------------------------------------------------------ */
/* Estilo do rodapé */

.footer {
  color: #383838;
  padding: 40px 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
}

.footer-column {
  flex: 1; 
  margin: 0 15px;
}

.footer-column:first-child {
  flex: 1;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .footer-content {
    margin-top: 40px !important;
    flex-direction: column; /* Empilha as colunas verticalmente */
    align-items: stretch; /* Faz as colunas ocuparem toda a largura */
  }

  .footer-column {
    width: 100%; /* Cada coluna ocupa a largura total */
  }
}


.about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-socials {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: normal;
}

.footer-note {
  color: #666;
  margin: 0 auto 0;
}

.footer-note {
  font-size: 14px !important;  
  color: #666 !important;
  max-width: 300px;
  line-height: 1.5 !important;  
  overflow-wrap: break-word;
  margin: 10px 0 0 0 !important;  
  padding: 0 !important; 
}
 
.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: #383838;
  text-decoration: none;  
  line-height: 2.4;
}

.footer-column ul li a:hover {
  font-weight: 800;

}

.social-icons {
  display: flex;
  gap: 16px; /* Espaço entre os ícones */
  margin-bottom: 10px; /* Espaço entre os ícones e a footer-note */
}

.social-icons img {
  width: 24px;
  height: 24px;
}


/* ------------------------------------------------------------------------------------ */
/* Estilo do elemento animado */

.hero-section {
  text-align: center;
  padding: 40px 0;
}

.animações {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 100px 0 300px;
  align-items: center;
}

.elemento-animado {
  width: 200px;
  height: 200px;
  background-color: #0052cc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;

  animation-duration: 3s;
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes spin { 
  0% {
  }
  50% {
    scale: 1.5;
    transform: rotate(0);
    border-radius: 0;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
    scale: 1.5;
  }  
}

.elemento-animado-2 {
  background-color: #383838; 
  animation-fill-mode: forwards; 
  animation-duration: 3s;
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-direction: normal; 
  animation-play-state: paused;
}
.elemento-animado-2:hover{ 
  animation-play-state: running;
}

.loading {
  height: 50px;
  width: 50px;
  border: 6px solid rgb(139, 49, 230);
  border-radius: 4px;
  box-shadow: 0 0 8px rgb(139, 49, 230), 0 0 8px rgb(139, 49, 230) inset;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  animation: 2s loading ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  33% {
    transform: rotateX(180deg) rotateY(0) rotateZ(0);
  }
  67% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
}


/* ------------------------------------------------------------------------------------ */
/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
  margin-bottom: 28px;
  text-align: left;
}

.breadcrumb a {
  color: #383838;
  text-decoration: none;
  margin: 0 5px; 
  font-family: 'Montserrat', sans-serif;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #383838;
  font-weight: 600;
  margin: 0 5px;
  font-family: 'Montserrat', sans-serif;
}

/* ------------------------------------------------------------------------------------ */
/* Estrutura da Página de Projeto */

.project-content {
    max-width: 800px;
    margin: 0 auto;
}
.section p {
  font-size: 1rem;
  line-height: 1.8;
  margin: 0; /* Remove qualquer margem padrão */
}

ul { 
  list-style-type: disc;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    max-width: 600px;
}

.project-title .tags {
margin-top: 16px;
margin-bottom: 30px;
}
.project-content p {
  max-width: 100%; /* Garante que o parágrafo ocupe toda a largura do contêiner */
}

/* Componente de post */
.author-info {
  display: flex;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  margin: 0;
  margin-bottom: 60px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

.follow {
  font-weight: normal;
  color: #888;
  margin-left: 5px;
}

.publication-details {
  color: #888;
  margin-top: 4px;
}

.publication-name {
  font-weight: bold;
  color: #333;
}
/* ---------------------------------------------------------------------------/*
/* ------------------------------------------------------------------------------------ */

/* Imagem para projeto */
/* Container para a imagem do projeto */
.project-image {
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  max-width: 800px; /* Define a mesma largura máxima da .project-content */
  margin: 0 auto; /* Centraliza o contêiner na página */
  padding-bottom: 36px;
  position: relative;
  opacity: 0; /* Oculto no início */
  transform: translateY(50px); /* Começa deslocado para baixo */
  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 1.2s;
}

.project-image img {
  width: 100%; /* A imagem ocupa toda a largura do contêiner */
  object-fit: cover;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .project-image {
    width: 100vw; /* Faz a imagem ocupar a largura inteira da tela */
    margin-left: calc(50% - 50vw); /* Centraliza o contêiner da imagem */
  }

  .project-image img {
    max-width: 100%; /* A imagem ocupa toda a largura disponível */
  }
}



/* Imagem workshop */
.project-workshop-images {
  display: flex;
  gap: 16px; /* Espaço entre as imagens */
  width: 100vw; /* Ocupa toda a largura da janela de visualização */
  margin-left: calc(50% - 50vw); /* Centraliza as imagens na página */
  position: relative; /* Para evitar deslocamento inesperado */
  padding-bottom: 36px;
  opacity: 0; /* Oculto no início */
  transform: translateY(50px); /* Começa deslocado para baixo */
  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 1.2s; /* Define o atraso (ajuste conforme necessário) */
}

.project-workshop-images img {
  width: 100%; /* Cada imagem ocupa metade do contêiner */
  max-width: 50%; /* Cada imagem ocupa 50% do contêiner */
  object-fit: cover;
}

@media (max-width: 767px) {

  .project-content {
    padding: 0px 40px; 
}

  .project-content h2 {
    font-size: 54px;
  margin: 0; /* Remove qualquer margem padrão */
}
.section-introduction img {    
    max-width: 100%; /* A primeira imagem ocupa 100% da largura */
    opacity: 0; /* Oculto no início */
    animation: fadeIn 1s ease-out forwards; /* Aplica a animação */
    animation-delay: 0.5s; 
  }

  .project-workshop-images img:nth-child(2) {
    display: none; /* Oculta a segunda imagem */
  }

  .project-workshop-images img:nth-child(1) {
    max-width: 100%; /* A primeira imagem ocupa 100% da largura */
  }

  .project-workshop-images { 
        width: 100vw; /* Faz a imagem ocupar a largura inteira da tela */
        margin-left: calc(50% - 50vw); /* Centraliza o contêiner da imagem */
      }
    
      .project-workshop-images img {
        max-width: 100%; /* A imagem ocupa toda a largura disponível */
      }
    }
    
  .project-image img {
    max-width: 100% !important;
    opacity: 0; /* Oculto no início */
    animation: fadeIn 1s ease-out forwards; /* Aplica a animação */
    animation-delay: 0.5s; 
  }
 



/* ---------------------------------------------------------------------------*/
/* Seção de Personas */
.personas {
  margin: 0 auto;
  display: flex;
  gap: 16px;
  padding: 20px 0;
  flex-wrap: wrap; /* Permite que os cartões quebrem linha em telas menores */
}

.personas-title {
  width: 100%; /* Garante que o título ocupe toda a largura */
  text-align: left;
  margin-bottom: 20px;
}

.persona-card {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 16px;
  flex: 1 1 calc(33.333% - 16px); /* Cada cartão ocupa aproximadamente 1/3 do contêiner */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px; /* Tamanho mínimo para cada cartão */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.persona-card.expanded {
  background-color: #e0e0e0; /* Cor de fundo do cartão expandido */
}

.persona-header {
  display: flex;
  align-items: center; /* Centraliza verticalmente o ícone e o título */
  font-weight: bold;
  color: #333;
  cursor: pointer;
  text-align: left; /* Alinha o conteúdo à esquerda */
}

.toggle-icon {
  font-size: 16px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
}

.persona-header p {
  margin: 0;
  display: inline;
}

.persona-description {
  font-size: 14px;
  color: #555;
  margin: 0;
  line-height: 1.6;
  display: none; /* Esconde a descrição inicialmente */
}

.persona-card.expanded .persona-description {
  display: block;
}

/* ---------------------------------------------------------------- */

.link-card {
  max-width: 100%; /* Largura máxima do card */
  border: 1px solid #ddd; /* Borda leve */
  border-radius: 8px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  overflow: hidden; /* Garante que os elementos fiquem dentro do card */
  background-color: #fff; /* Fundo branco */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação no hover */
}

.link-card a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Garante que as cores do texto sejam herdadas */
}

.link-card:hover {
  transform: translateY(-4px); /* Eleva o card no hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Intensifica a sombra no hover */
}

.card-content {
  display: flex; /* Layout flexível para alinhar imagem e texto */
  align-items: center; /* Centraliza verticalmente */
  gap: 40px;
  padding: 16px;
}

.card-text {
  flex: 1; /* O texto ocupa o espaço restante */
}
.card-text h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 8px; /* Espaçamento inferior */
}

.card-text p {
  font-size: 14px;
  color: #666; /* Cor do texto secundário */
  margin: 0;
}

.card-image {
  width: 200px; /* Largura fixa para a imagem */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Bordas arredondadas na imagem */
  object-fit: cover; /* Ajusta o conteúdo para preencher o container */
}



.card-text p {
  font-size: 14px;
  color: #666; /* Cor do texto secundário */
  margin: 0;
}

@media (max-width: 767px) {
  .card-content {
    flex-direction: column; /* Empilha texto e imagem */
    text-align: center; /* Centraliza o texto */
    
  }
  .card-text p {
    font-size: 14px;
    color: #666; /* Cor do texto secundário */
    padding: 24px !important;
  }
  .card-image {
    width: 200px; /* Largura fixa para a imagem */
    max-width: none; /* Remove restrição de tamanho */
  }
}



