<section class="contact-section" id="contato">
    <h2>Vamos conversar?</h2>
    <p>Me conte sobre sua necessidade, demanda ou ideia. Estou curiosa pra conhecer você e seu projeto.</p>
    <form id="contactForm" action="https://formspree.io/f/xnnqjqrd" method="POST">
      <input type="text" id="name" name="name" placeholder="Nome" required>
      <input type="text" id="telefone" name="telefone" placeholder="Telefone" required>
      <textarea id="message" name="message" placeholder="Escreva um breve resumo do seu projeto e o que você precisa" required></textarea>
      <button type="submit">Enviar</button>
    </form>
  </section>
  <br><br><br>
  