<footer class="footer">
  <div class="footer-content">

    <!-- Sobre -->
    <div class="footer-column">
      <div class="about-section">

        <div class="logo-socials">

          <!-- LOGO EM SVG -->
          <a href="/index.html" class="footer-logo-link">
            <img src="../../imgs/global/logo-malu.svg" 
                 alt="Logo Malu" 
                 class="footer-logo">
          </a>

          <!-- Ícones sociais -->
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/tsmalu/">
              <img src="../../imgs/icon-linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.behance.net/ts_malu">
              <img src="../../imgs/icon-behance.png" alt="Behance">
            </a>
            <a href="https://github.com/tsmalu">
              <img src="../../imgs/icon-github.png" alt="GitHub">
            </a>
          </div>

        </div>

        <p class="footer-note">
          Esse site faz parte do meu processo de aprendizado em HTML, CSS e JavaScript.
        </p>

      </div>
    </div>

    <!-- Primeira coluna -->
    <div class="footer-column">
      <ul>
        <li><a href="/index.html">portfólio</a></li>
        <li><a href="/pages/projetos.html">Projetos</a></li>
        <li><a href="/pages/sobre.html">Sobre</a></li>
      </ul>
    </div>

    <!-- Segunda coluna -->
    <div class="footer-column">
      <ul>
        <li><a href="/pages/Projetos/PJT-UIUX-esg.html">Plataforma ESG</a></li>
        <li><a href="/pages/Projetos/PJT-UIUX-game-echess.html">Interface para jogo</a></li>
        <li><a href="/pages/Projetos/PJT-GRA-marca-garsoni.html">Marca Garsoni</a></li>
        <li><a href="/pages/Projetos/PJT-GRA-enjoei.html">Banners enjoei.com</a></li>
        <li><a href="/pages/Projetos/PJT-UIUX-APP-Motorista.html">Design de app para Motoristas</a></li>
      </ul>
    </div>

  </div>
</footer>
