<footer class="footer">
    <div class="footer-content">

<!-- Sobre -->
    <div class="footer-column">
        <div class="about-section">
            <div class="logo-socials">
            <div class="logo">
            <a href="index.html">
            <img src="/imgs/global/logo-malu-800w.png" alt="Logo Malu" class="logo">
            <source srcset="/imgs/global/logo-malu-800w.webp" type="image/webp">
            </div>

            <div class="social-icons">
                <a href="https://www.linkedin.com/in/tsmalu/">
                    <img src="/imgs/icon-linkedin.png" alt="LinkedIn">
                  </a>
        
                <a href="https://www.behance.net/ts_malu">
                  <img src="/imgs/icon-behance.png" alt="Behance">
                </a>
        
                <a href="https://github.com/tsmalu">
                    <img src="/imgs/icon-github.png" alt="GitHub">
                  </a>
              </div>
              
            </div>
            <p class="footer-note">Esse site faz parte do meu processo de aprendizado em html, css e javascript.</p>
            </div>
        </div>

<!-- Primeira Coluna: Links para as Páginas -->
        <div class="footer-column">
            <ul>
                <li><a href="/index.html">Início</a></li>
                <li><a href="/pages/projetos.html">Projetos</a></li>
                <li><a href="/pages/sobre.html">Sobre</a></li>
                <li><a href="/pages/portfolio..html">Portfólio</a></li>
                <li><a href="/pages/Blog/">Blog</a></li>
            </ul>
        </div>

 <!-- Segunda Coluna: Projetos -->
        <div class="footer-column">
            <ul>
                <li><a href="/pages/Projeto-esg.html">Plataforma ESG</a></li>
                <li><a href="pages/Projeto-uigame.html">Interface para jogo</a></li>
                <li><a href="/pages/marca-garsoni.html">Marca Garsoni </a></li>
                <li><a href="/pages/ProjetoEnjoei.html">Banners enjoei.com</a></li>
                <li><a href="/pages/AplicativoparaMotoristas.html">Design de Aplicativo para Motoristas</a></li>
            </ul>
        </div>
    </div>
</footer>