<header>
    <a href="/index.html">
        <picture>
            <source srcset="/imgs/global/logo-malu-400w.webp" media="(max-width: 600px)">
            <source srcset="/imgs/global/logo-malu-800w.webp" media="(max-width: 1024px)">
            <img src="/imgs/global/logo-malu-800w.webp" alt="Logo Malu" class="logo">
        </picture>
        
        
    </a>

    <!-- Menu -->
    <nav>
        <ul class="menu">
            <li><a href="/pages/projetos.html">projetos</a></li>
            <li><a href="#contato">contato</a></li>
            <li><a href="/pages/sobre.html">sobre</a></li>
        </ul>
    </nav>
    
    
    
    
    <div class="hamburger">
        &#9776;
    </div>
</header>
